<div class="container">
  <div>
  <p>Articles</p>
  </div>
  <div class="cards">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
          <div class="card">
            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key, width: 300, height: 200, crop: :fill %>
            <% else %>
              <%= image_tag "default_image.png", width: 300, height: 200, crop: :fill%>
            <% end %>
            <%= post.title%>
            <%= post.content%>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
